@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #112d44;
    --foreground: #ffffff;
    --background-lighter: #163650;
    --background-dark: #0d1d2b;
    --primary: #1ad8c6;
    --secondary: #f45b69;
    --secondary-light: #ff6c6c;
    --secondary-lighter: #ff6565;
    --secondary-darker: #cc3d49;
    --black-o-75: rgba(0, 0, 0, 0.75);
    --black-o-50: rgba(0, 0, 0, 0.6);
    --white-o-20: rgba(255, 255, 255, 0.2);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--primary) !important;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #070708;
        --foreground: #ffffff;
        --dark: #1d1616;
        --medium: #0b2034;
        --light: #d84040;
        --blue-medium: #1aafb7;
        --blue-light: #1ad8c6;
        --white: #eeeeee;
    }
} */

@layer utilities {
    .unset {
        position: unset;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.tw-caret {
    opacity: 1;
}

.tw-caret.tw-caret--blink {
    animation: caretBlink 0.9s infinite;
}

@keyframes caretBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-shadow {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
